body {
    background-color: #FAF9FE;
}



.wrapper {
    background-color: white; 
    padding: 20px;
    width: 80%; 
    max-width: 600px; 
    border-radius: 15px;
   
}


.container {

    display: flex;
    align-items: center;
    
}



#searchimg{
    width: 40px;
    height: 40px;
    
}
#ice{
    margin: 16px;
    color: rgb(166, 166, 166);
}
#lion1{
    display: flex;
    align-items: center; 
    padding-bottom: 0px;
}

#m1 {
    color: rgb(170, 96, 83);
 
    font-size: 2em;
    font-weight: bold;
}

#m2 {
    margin: 10px 16px;
    font-size: 2em;
 
    
}



#m3 {
    margin-top: -25px;
    font-size: 2em;
    
}


#m4 {
    margin-top: 5px;
    font-size: 1.5em;
    font-weight: bold;
    color:black;
}

#m5 {
    margin-top: 5px;
    font-size: 1.5em;
    font-weight: bold;
    color:white;
}

#m6 {
    margin-top: 5px;
    font-size: 1.5em;
    font-weight: bold;
    color:black;
}



.wrapper2 {
    background-color: white; 
    margin: 32px;
    height: 90%; 
    border-radius: 15px;
    padding:  40px 50px  40px 50px;
    
  
}


#moon{
    width: 25px;
    height: 25px;
   
    padding-top: 20px;
    padding-bottom: 20px;

}
.wrapper3 {
    background-color: rgb(241, 95, 95); 
 
    margin: 32px;
    height: 90%; 
    border-radius: 15px;
   
    padding:  40px 50px  40px 50px;
    
    
}

#apple{
    width: 25px;
    height: 25px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.wrapper4 {
    background-color: white; 
    margin: 32px;
    padding:  40px 50px  40px 50px;
    height: 90%; 

    border-radius: 15px;

   
  
}


#lionking{
    width: 25px;
    height: 25px;
    background-color: rgb(255,255, 255);
    padding-bottom: 20px;
    padding-top: 20px;

}

.bigwrapper{
    display: flex;
    color: rgb(166, 166, 166);
}